<div class="landing" id="home">
    <div class="title">
        <div id="tennis" class="text">Tennis</div>
        <div id="for" class="text">FOR</div>
        <div id="dummies" class="text">DUMMIES</div>
    </div>
    
    <!-- Arrow to scroll down -->
    <div class="arrow" onclick="document.getElementById('about-section').scrollIntoView({behavior: 'smooth'})">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M12 17.414l-6.707-6.707 1.414-1.414L12 14.586l5.293-5.293 1.414 1.414z"/>
        </svg>
    </div>
</div>
